.mainContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.allSongs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0.4rem;
}

.navContainer{
    background-color: rgb(12, 11, 11);
}
.songContainer{
    background-color: rgb(20, 20, 20);
}
.songContainer h2{
    color: white;
    text-align: start;
}